# Discord Bot Config
DISCORD_TOKEN=your_bot_token_here
DISCORD_CLIENT_ID=your_client_id_here
DEFAULT_PREFIX=-

# Services Config
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/discord_bot?schema=public
REDIS_URL=redis://localhost:6379

# API Config
PORT=3001
DASHBOARD_URL=http://localhost:3000
JWT_SECRET=your_jwt_secret_here
